* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 1rem;
  background: linear-gradient(to right, #f95ce2, #edca11);
}
.container {
  width: 95%;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tip-calculator {
  border: 1px solid lightgray;
  background: whitesmoke;
  border-radius: 5px;
  width: 470px;
  margin: auto;
  padding: 0 25px;
  font-size: 1rem;
  font-weight: 100;
  box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 50%);
}
.suptitle {
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border-bottom: 2px solid rgba(211, 211, 211, 0.5);
  width: 100%;
}
.suptext {
  margin-top: 20px;
}
.bottom-line {
  border: 1px solid rgba(211, 211, 211, 0.5);
}
.fa-dollar-sign {
  width: 10%;
  padding: 8px;
  outline: none;
  cursor: pointer;
  border: 1px solid lightgray;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background: whitesmoke;
  text-align: center;

  transition: 0.1s linear background-color;
}
.fa-dollar-sign:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.fa-male {
  width: 10%;
  padding: 8px;
  outline: none;
  cursor: pointer;
  border: 1px solid lightgray;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background: whitesmoke;
  text-align: center;

  transition: 0.1s linear background-color;
}
.fa-male:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.sign {
  display: flex;
  font-style: italic;
}
.dollar {
  box-sizing: border-box;
  width: 90%;
  padding: 8px;
  outline: none;
  border-radius: 5px;
  border: 1px solid lightgray;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.people {
  box-sizing: border-box;
  width: 90%;
  padding: 8px;
  outline: none;
  border-radius: 5px;
  border: 1px solid lightgray;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.percentage {
  width: 100%;
  padding: 8px;
  outline: none;
  border-radius: 5px;
  border: 1px solid lightgray;

  margin-bottom: 20px;
}
.calc {
  padding: 8px;
  outline: none;
  cursor: pointer;
  border: 1px solid lightgray;
  border-radius: 5px;
  width: fit-content;

  margin: auto;
  display: flex;

  border-top: 2px solid #e4e4e4;
  margin-bottom: 20px;
  margin-top: 20px;
}
.tip-amount {
  opacity: 0;
  min-width: 250px;
  margin: auto;
  background: limegreen;
  color: #fff;
  bottom: 30px;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
}

.show {
  animation-name: show;
  animation-duration: 5s;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
